#page-layout {
  height: 100%;
}

#page-layout .page.grid {
  height: 100%;
}

#page-layout .page.grid .main-section {
  height: 100%;
}

.footer {
  font-size: 0.9em;
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 0 0 5px 15px;
  color: gray;
}
